@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Kaushan+Script&family=Poppins:wght@500&family=Roboto:ital,wght@0,300;0,500;0,700;1,500&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}
.u-blue{ color:#4285F4; }
.d-red{ color:#DB4437; }
.e-yellow{ color:#F4B400; }
.m-green{ color:#0F9D58; }
.y-orange { color: orange; }

.scarousel-img img{
    height: 100vh;
}
.carousel-text {
    background: rgba(12, 11, 18, 0.521);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
.carousel-content {
    width: 80%;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    position: absolute;
}
@media only screen and (max-width: 991px) {

    .carousel-text img {
        height: 100vh;
    }
}